.gridContainer {
  padding-left: 20px;
  padding-right: 20px;
  height: 400px;
}

.outletBox {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.thumbnailIMG {
  border-radius: 15px;
}

.searchThumbnailIMG {
  border-radius: 5px;
}

.paperStyle{
  border-radius: 15px;
  flexGrow: 1;
  padding: 20px;
  alignContent: center;
}